{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="login-container">
        <div class="login">
            <h2>S'inscrire</h2>

            <div class="login-form">
                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}
                    <div class="input-group">
                        {{ form_row(registrationForm.email) }}
                    </div>
                    <div class="input-group">
                        {{ form_row(registrationForm.name) }}
                    </div>
                    <div class="input-group">
                        {{ form_row(registrationForm.picture) }}
                    </div>
                    <div class="input-group">
                        {{ form_row(registrationForm.plainPassword, {
                        label: 'Mot de passe'}) }}
                    </div>
                    <div class="input-group">
                        {{ form_row(registrationForm.agreeTerms) }}
                    </div>

                    <button type="submit">Register</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
