{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Modifier {{ trick.name }}{% endblock %}

{% block body %}

<div class="position-relative">
    {% if trick.pictures is not empty %}
        {% for picture in trick.pictures %}
            {% if picture.banner %}
                <img class='img-fluid' src="{{ asset(picture.link) }}">
            {% endif %}
        {% endfor %}
    {% else %}
        <img  class='img-fluid' src="{{ asset('images/banniere-trick.jpg') }}">
    {% endif %}
    <div class="texte-haut-droite">
        {% if app.user %}
            <a href="{{ path('edit_trick', {'slug': trick.name}) }}"><i class="fa-icon fa-solid fa-pencil"></i></i></a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('delete_trick', {'slug': trick.name}) }}"><i class="fa-icon fa-solid fa-trash-can"></i></a>
            {% endif %}
        {% endif %}
    </div>
    <div class="position-absolute top-50 start-50 translate-middle text-center">
        <h1>{{ trick.name }}</h1>
    </div>
</div>

<div class="bg-primary-subtle p-4"">
    {% if trick.pictures is not empty or trick.movies is not empty %}
        <div class="d-sm-block d-md-none">
            <button id="toggleButton" class="btn btn-primary">Afficher le contenu</button>
        </div>
        <div class="d-none d-sm-block container">
            <div class="row justify-content-between">
                {% for picture in trick.pictures %}
                    <div class="col-sm-4 embed-responsive embed-responsive-16by9 bg-light rounded-1 p-0 m-0">
                        <img class='img-fluid rounded-1 m-0 p-0' src="{{ asset(picture.link) }}">
                        <div class="d-flex justify-content-end p-1 m-0"> 
                            <a href="{{trick.name}}/edit-picture/{{picture.id}}"><i class=" fa-icon fa-solid fa-pencil p-1"></i></i></a> 
                            <a href="{{trick.name}}/delete-picture/{{picture.id}}"><i class="fa-icon fa-solid fa-trash-can p-1"></i></a>
                        </div>
                    </div>
                {% endfor %}
                {% for movie in trick.movies %}
                    <div class="col-sm-4 embed-responsive embed-responsive-16by9 bg-light rounded-1 p-0 m-0">
                        <iframe class='img-fluid rounded-1 m-0 p-0' src="{{ asset(movie.link) }}"> </iframe>
                        <div class="d-flex justify-content-end p-1 m-0"> 
                            <a href="{{trick.name}}/edit-movie/{{movie.id}}"><i class="fa-icon fa-solid fa-pencil p-1"></i></i></a>
                            <a href="{{trick.name}}/delete-movie/{{movie.id}}"><i class="fa-icon fa-solid fa-trash-can p-1"></i></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <script>
        const contentToToggle = document.querySelector('.d-none');
        const toggleButton = document.getElementById('toggleButton');
        toggleButton.addEventListener('click', function() {
            contentToToggle.classList.toggle('d-none');
        });
    </script> 
</div>


<div class="example-wrapper text-center">

    {{ form_start(form) }}
        <h1>{{ form_row(form.name) }}</h1>
        <p>{{ form_row(form.description) }}</p>
        {{ form_row(form.group_id) }}
    
        <div class="container text-center">
          <div class="row">
            <div class="col">
              <a href="/delete-trick/{{ trick.name }}" class="btn btn-primary">Supprimer</a>  
              {# form_row(form.delete) #}
            </div>
            <div class="col">
              <button type="submit" class="btn btn-primary">Sauvegarder</button> 
              {# form_row(form.save) #}
            </div>
          </div>
        </div>
    {{ form_end(form) }}    

</div>

{% endblock %}