{% extends 'base.html.twig' %}

{% block title %}SnowTricks - {{ trick.name }}{% endblock %}

{% block body %}

<div class="banner">
    {% if trick.pictures is not empty %}
        {% for picture in trick.pictures %}
            {% if picture.banner %}
                <img src="{{ asset(picture.link) }}">
            {% endif %}
        {% endfor %}
    {% else %}
        <img src="{{ asset('images/banniere-trick.jpg') }}">
    {% endif %}
    <div class="texte-haut-droite">
        {% if app.user %}
            <a href="{{ path('edit_trick', {'slug': trick.name}) }}"><i class="fa-icon fa-solid fa-pencil"></i></i></a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('delete_trick', {'slug': trick.name}) }}"><i class="fa-icon fa-solid fa-trash-can"></i></a>
            {% endif %}
        {% endif %}
    </div>
    <div class="position-absolute top-50 start-50 translate-middle text-center">
        <h1>{{ trick.name }}</h1>
    </div>
</div>


{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}


<div class="bg-primary-subtle p-4">
    <div class="d-sm-block d-md-none">
        <button id="toggleButton" class="btn btn-primary">Afficher le contenu</button>
    </div>
    {% if trick.pictures is not empty or trick.movies is not empty %}
        <div class="d-none d-sm-block container">
            <div class="row justify-content-between">
                {% for picture in trick.pictures %}
                    <div class="col-sm-3 embed-responsive embed-responsive-16by9">
                        <img class=' rounded-1 m-0 p-0 max-sized-picture' src="{{ asset(picture.link) }}">
                    </div>
                {% endfor %}
                {% for movie in trick.movies %}
                    <div class="col-sm-3 embed-responsive embed-responsive-16by9">
                        <iframe class='img-fluid rounded-1 m-1 p-0' src="{{ asset(movie.link) }}"> </iframe>
                    </div>
                {% endfor %}
                {% if app.user %}
                    <div class="col-sm-3 btns">
                        <br>
                        <a href="{{ path('add_picture', {'slug': trick.name}) }}">Ajouter une photo</a>
                        <br>
                        <br>
                        <a href="{{ path('add_movie', {'slug': trick.name}) }}">Ajouter une vidéo</a>
                    </div>
                    {#<div class="col-sm-3">
                        
                    </div>#}
                {% endif %}
            </div>
        </div>
    {% endif %}
    
    <script>
        // Récupérer l'élément à afficher
        const contentToToggle = document.querySelector('.d-none');

        // Récupérer le bouton
        const toggleButton = document.getElementById('toggleButton');

        // Ajouter un écouteur d'événement au bouton
        toggleButton.addEventListener('click', function() {
            // Inverser la visibilité du contenu
            contentToToggle.classList.toggle('d-none');
        });
    </script> 
</div>


    <div class="bg-primary-subtle p-4">
    <div class="pdg">
        <p>{{ trick.description }}</p>
        <table class="table text-center">
          <tbody>
            <tr>
              <td>{{ trick.creationDate.format('Y-m-d H:i:s') }}</td>
              <td>{{ trick.groupId.name }}</td>
              {% if trick.creationDate.format('Y-m-d H:i:s') != trick.editDate.format('Y-m-d H:i:s') %}
                <td>{{ trick.editDate.format('Y-m-d H:i:s') }}</td>
                {% endif %}
            </tr>
          </tbody>
        </table>
    </div>
    </div>

{% if app.user %}
<div class="bg-primary-subtle m-0 p-4">
    <div class="pdg">
        <hr class="my-4">
        {{ form_start(formComment) }}
            <div class="d-flex justify-content-evenly">
                <div class="">
                    {{ form_widget(formComment) }}
                </div>
                <div class="">
                    <button type="submit" class="btn btn-primary">Ajouter un commentaire</button>
                </div>
            </div> 
        {{ form_end(formComment) }}
    </div>
</div>
{% endif %}


<div class="bg-primary-subtle p-4">
<div class="pdg">
    <hr class="my-4">
    
    {% if trick.comments|filter(comment => comment.status ==2) is not empty %}
        {% for comment in trick.comments|filter(comment => comment.status ==2) %}
            <div class="d-flex p-2 m-2">
                <div class="p-2 align-self-center">
                  <img class='profil-pic rounded-5 box-shadow' src="{{ asset(comment.user.picture) }}">
                </div>
                <div class="p-2 flex-grow-1 bg-light box-shadow">
                    <p class="p-2"><b>{{ comment.user.name }}</b></p>
                    <p class="p-2">{{ comment.content }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="container text-center">
          Aucun commentaire n'a encore été publié.
        </div>
    {% endif %}
</div>
</div>

{% endblock %}
