{% extends 'base.html.twig' %}

{% block title %}SnowTricks - {{ trick.name }}{% endblock %}

{% block body %}

{% set hasBanner = false %}

<div class="banner">
    {% if trick.pictures is not empty %}
        {% for picture in trick.pictures %}
            {% if picture.banner %}
                <img src="{{ asset(picture.link) }}">
                {% set hasBanner = true %}
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if not hasBanner %}
        <img src="{{ asset('images/banniere-trick.jpg') }}">
    {% endif %}
    <div class="bg-custom texte-haut-droite">
        {% if app.user %}
            <p><a class="a-custom" href="{{ path('edit_trick', {'slug': trick.name}) }}"><i class="fa-solid fa-pencil"></i></a></p>
            {% if is_granted('ROLE_ADMIN') %}
                <form action="{{ path('delete_trick', {'slug': trick.name}) }}" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ?');">
                    <button class="delete-btn-custom" type="submit"><i class="fa-solid fa-trash-can"></i></button>
                </form>
            {% endif %}
        {% endif %}
    </div>
    <div class="position-absolute top-50 start-50 translate-middle text-center">
        <h1>{{ trick.name }}</h1>
    </div>
</div>

{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

<div class="bg-custom p-4">
    <div class="d-sm-block d-md-none">
        <button id="toggleButton" class="a-custom-2">Afficher le contenu</button>
    </div>
    <div class="d-none d-sm-block container">
        <div class="row justify-content-between">
            {% if trick.pictures is not empty %}
                {% for picture in trick.pictures %}
                    <div class="col-sm-3 embed-responsive embed-responsive-16by9 m-1">
                        <img class='rounded-1 m-0 p-0 max-sized-picture' src="{{ asset(picture.link) }}">
                    </div>
                {% endfor %}
            {% endif %}
            {% if trick.movies is not empty %}
                {% for movie in trick.movies %}
                    <div class="col-sm-3 embed-responsive embed-responsive-16by9 m-1">
                        <iframe class='img-fluid rounded-1 m-1 p-0' src="{{ asset(movie.link) }}"> </iframe>
                    </div>
                {% endfor %}
            {% endif %}
            {% if app.user %}
                <div class="col-sm-3 btns m-1">
                    <a class="a-custom-2" href="{{ path('add_picture', {'slug': trick.name}) }}">Ajouter une photo</a>
                </div>
                <div class="col-sm-3 btns m-1">
                    <a class="a-custom-2" href="{{ path('add_movie', {'slug': trick.name}) }}">Ajouter une vidéo</a>
                </div>
            {% endif %}
        </div>
    </div>
    
    <script>
        // Récupérer l'élément à afficher
        const contentToToggle = document.querySelector('.d-none');

        // Récupérer le bouton
        const toggleButton = document.getElementById('toggleButton');

        // Ajouter un écouteur d'événement au bouton
        toggleButton.addEventListener('click', function() {
            // Inverser la visibilité du contenu
            contentToToggle.classList.toggle('d-none');
        });
    </script> 

    <div class="margin-custom p-4 text-center">
        <hr class="hr-custom">
        <h2 class="h2-custom">Description</h2>
        <p>{{ trick.description }}</p>
        <div class="margin-custom d-flex justify-content-around">
            <div class="info-custom">Date de création : {{ trick.creationDate.format('Y-m-d H:i:s') }}</div>
            <div class="info-custom">Groupe de la figure : {{ trick.groupId.name }}</div>
            <div class="info-custom"> Date de dernière édition : {{ trick.editDate.format('Y-m-d H:i:s') }}</div>
        </div>
    </div>

    {% if app.user %}
    <div class="margin-custom p-4">
        <hr class="hr-custom">
        {{ form_start(formComment) }}
            <div class="d-flex justify-content-evenly">
                <div class="">
                    {{ form_widget(formComment) }}
                </div>
                <div><button type="submit" class="a-custom-2">Ajouter un commentaire</button></div>
            </div> 
        {{ form_end(formComment) }}
    </div>
    {% endif %}

    <div class="justify-content-center p-4">
        <hr class="hr-custom">
        {% if comments is not empty %}
            {% for comment in comments %}
                <div class="d-flex p-2 m-2 justify-content-center">
                    <div class="p-2 align-self-center">
                      <img class='profil-pic rounded-5 box-shadow' src="{{ asset(comment.user.picture) }}">
                    </div>
                    <div class="p-2 flex-grow-1 rounded-1 bg-light box-shadow max-width">
                        <div class="p-2 user-custom">{{ comment.user.name }}</div>
                        <div class="p-2">{{ comment.content }}</div>
                        <div class="p-2 d-flex justify-content-end">{{ comment.creationDate.format('Y-m-d H:i:s') }}</div>
                    </div>
                </div>
            {% endfor %}
            <div class="text-center m-4 p-4">
                {% if currentPage > 1 %}
                    <a class="a-custom-2" href="{{ path('view_trick', {'slug': trick.name, 'page': currentPage - 1}) }}">Revenir à la page précédente</a>
                {% endif %}
                {% if hasMoreComments %}
                    <a class="a-custom-2" href="{{ path('view_trick', {'slug': trick.name, 'page': currentPage + 1}) }}">Voir plus de commentaires</a>
                {% endif %}
            </div>
        </div>    
        {% else %}
            {% if currentPage == 1 %}
                <div class="container text-center">
                    Aucun commentaire n'a encore été publié.
                </div>
            {% endif %}
        {% endif %} 
</div>

{% endblock %}
