{% extends 'base.html.twig' %}

{% block title %}SnowTricks - {{ trick.name }}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="position-relative">
    {% if trick.pictures is not empty %}
        {% for picture in trick.pictures %}
            {% if picture.banner %}
                <img class='img-fluid' src="{{ asset(picture.link) }}">
            {% endif %}
        {% endfor %}
    {% else %}
        <img  class='img-fluid' src="{{ asset('images/banniere-trick.jpg') }}">
    {% endif %}

    <div class="position-absolute top-50 start-50 translate-middle text-center">
        <h1>{{ trick.name }}</h1>
        <a href="{{ path('edit_trick', {'slug': trick.name}) }}"><i class="fa-solid fa-pencil"></i></i></a>
        <a href="{{ path('delete_trick', {'slug': trick.name}) }}"><i class="fa-solid fa-trash-can"></i></a>
    </div>
</div>


<div class="example-wrapper">

    {% if trick.pictures is not empty or trick.movies is not empty %}
        <div class="d-sm-block d-md-none">
            <button id="toggleButton" class="btn btn-primary">Afficher le contenu</button>
        </div>

        <div class="d-none d-sm-block container">
            <div class="row justify-content-between">
                {% for picture in trick.pictures %}
                    <div class="col-lg-2 col-sm-6 embed-responsive embed-responsive-16by9">
                        <img class='img-fluid' src="{{ asset(picture.link) }}">
                    </div>
                {% endfor %}

                {% for movie in trick.movies %}
                    <div class="col-lg-2 col-sm-6 embed-responsive embed-responsive-16by9">
                     <iframe  src="{{ asset(movie.link) }}"> </iframe>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    
<script>
    // Récupérer l'élément à afficher
    const contentToToggle = document.querySelector('.d-none');

    // Récupérer le bouton
    const toggleButton = document.getElementById('toggleButton');

    // Ajouter un écouteur d'événement au bouton
    toggleButton.addEventListener('click', function() {
        // Inverser la visibilité du contenu
        contentToToggle.classList.toggle('d-none');
    });
</script> 



    <p>{{ trick.description }}</p>
    
    <div class="row">
      <div class="col-md-auto">{{ trick.creationDate.format('Y-m-d H:i:s') }}</div>
      <div class="col-md-auto">{{ trick.groupId.name }}</div>
      {% if trick.creationDate.format('Y-m-d H:i:s') != trick.editDate.format('Y-m-d H:i:s') %}
        <div class="col-md-auto">{{ trick.editDate.format('Y-m-d H:i:s') }}</div>
        {% endif %}
    </div>

    <hr class="my-4">

    {{ form_start(formComment) }}
        {{ form_widget(formComment) }}
        <button type="submit" class="btn btn-primary">Ajouter un commentaire</button>
    {{ form_end(formComment) }}

    <hr class="my-4">
    
    {% if trick.comments|filter(comment => comment.status ==2) is not empty %}
        {% for comment in trick.comments|filter(comment => comment.status ==2) %}
            <div class="container text-center">
              <div class="row">
                <div class="col">
                  <img class='img-fluid' src="{{ asset(comment.user.picture) }}">
                </div>
                <div class="col">
                  {{ comment.user.name }}
                  <br>
                  {{ comment.content }}
                </div>
              </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="container text-center">
          Aucun commentaire n'a encore été publié.
        </div>
    {% endif %}


</div>
    
    
{% endblock %}